<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/86459ed88a.js"></script>

<div id="app">

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><!-- <img src="zebra-logo-cropped.png" class="mini-logo"> --> Xebra Notes</span>
        <span class="navbar-text hover-icon" @click="newNote()">
            New Note &nbsp;<i class="fas fa-plus-circle"></i>
        </span>
    </nav>

    <div class="mega-wrap">
        <div class="wrap">
            <div class="cat-title">Misc <i class="fas fa-cogs" style="float:left"></i></div>
            <draggable v-model="notes.misc" group="people" @start="drag=true" @end="drag=false" class="drag-area" ghost-class="ghost">
                <div v-for="element,index in notes.misc" :key="element.id" class="note">
                    <div class="note-title">
                        <span v-if="element.title">{{ element.title.length < 32 ? element.title : element.title.substring(0,32) + "..."}}</span>
                        <span v-else="element.title">...</span>
                        <span style="float:right" class="hover-icon" @click="deleteNote('misc',index)"><i class="far fa-trash-alt"></i></span>
                        <span style="float:right; width:1rem; height:1em;"> </span>
                        <span style="float:right" class="hover-icon" @click="editNote('misc',index)"><i class="fas fa-edit"></i></span>
                        <span v-if="element.link!=null && element.link!=''">
                            <span style="float:right; width:1rem; height:1em;"> </span>
                            <a :href="element.link" target="blank" style="float:right;" class="hover-icon"><i class="fas fa-link"></i></a>
                        </span>
                    </div>
                    <div class="content">{{element.content}}</div>
                </div>
            </draggable>
        </div>

    
        <div class="wrap">
            <div class="cat-title">Todo <i class="fas fa-clipboard-check" style="float:left"></i></div>
            <draggable v-model="notes.todo" group="people" @start="drag=true" @end="drag=false" class="drag-area" ghost-class="ghost">
                <div v-for="element,index in notes.todo" :key="element.id" class="note">
                    <div class="note-title">
                        <span v-if="element.title">{{ element.title.length < 36 ? element.title : element.title.substring(0,36) + "..."}}</span>
                        <span v-else="element.title">...</span>
                        <span style="float:right" class="hover-icon" @click="deleteNote('todo',index)"><i class="far fa-trash-alt"></i></span>
                        <span style="float:right; width:1rem; height:1em;"> </span>
                        <span style="float:right" class="hover-icon" @click="editNote('todo',index)"><i class="fas fa-edit"></i></i></span>
                        <span v-if="element.link!=null && element.link!=''">
                            <span style="float:right; width:1rem; height:1em;"> </span>
                            <a :href="element.link" target="blank" style="float:right;" class="hover-icon"><i class="fas fa-link"></i></a>
                        </span>
                    </div>
                    <div class="content">{{element.content}}</div>
                </div>
            </draggable>
        </div>

        <div class="wrap">
            <div class="cat-title">Ideas <i class="fas fa-lightbulb" style="float:left"></i></div>
            <draggable v-model="notes.ideas" group="people" @start="drag=true" @end="drag=false" class="drag-area" ghost-class="ghost">
                <div v-for="element,index in notes.ideas" :key="element.id" class="note">
                    <div class="note-title">
                        <span v-if="element.title">{{ element.title.length < 36 ? element.title : element.title.substring(0,36) + "..."}}</span>
                        <span v-else="element.title">...</span>
                        <span style="float:right" class="hover-icon" @click="deleteNote('ideas',index)"><i class="far fa-trash-alt"></i></span>
                        <span style="float:right; width:1rem; height:1em;"> </span>
                        <span style="float:right" class="hover-icon" @click="editNote('ideas',index)"><i class="fas fa-edit"></i></i></span>
                        <span v-if="element.link!=null && element.link!=''">
                            <span style="float:right; width:1rem; height:1em;"> </span>
                            <a :href="element.link" target="blank" style="float:right;" class="hover-icon"><i class="fas fa-link"></i></a>
                        </span>
                    </div>
                    <div class="content">{{element.content}}</div>
                </div>
            </draggable>
        </div>

    </div>

    <div class="custom-modal-shade" v-if="modal=='newNote'" @click=""></div>
    <div class="custom-modal" v-if="modal=='newNote'">
        <div class="modal-title">
            <input type="text" v-model="notes[state.currentNote.category][state.currentNote.index].title" class="custom-input-title">
            <span style="float:right; font-size:4rem;" class="hover-icon"><i class="fas fa-check-circle" @click="closeModal"></i></span>
        </div>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button v-if="state.currentNote.category == 'misc'" type="button" class="btn btn-primary" @click="switchNoteGroup('misc')">Misc</button>
            <button v-if="state.currentNote.category != 'misc'" type="button" class="btn btn-secondary" @click="switchNoteGroup('misc')">Misc</button>

            <button v-if="state.currentNote.category == 'todo'" type="button" class="btn btn-primary" @click="switchNoteGroup('todo')">Todo</button>
            <button v-if="state.currentNote.category != 'todo'" type="button" class="btn btn-secondary" @click="switchNoteGroup('todo')">Todo</button>

            <button v-if="state.currentNote.category == 'ideas'" type="button" class="btn btn-primary" @click="switchNoteGroup('ideas')">Ideas</button>
            <button v-if="state.currentNote.category != 'ideas'" type="button" class="btn btn-secondary" @click="switchNoteGroup('ideas')">Ideas</button>
        </div>
        <br><br>
        <textarea v-model="notes[state.currentNote.category][state.currentNote.index].content" class="custom-input-content"></textarea>
        <br><br>
        <span class="hover-icon" v-if="notes[state.currentNote.category][state.currentNote.index].link != null && notes[state.currentNote.category][state.currentNote.index].link != ''" @click="activateLink">
            <i class="fas fa-link" style="font-size:2rem; padding-top:0.6rem;  color:var(--highlight-color)">
            </i>
        </span>
        <span class="hover-icon" v-else @click="activateLink">
            <i class="fas fa-link" style="font-size:2rem; padding-top:0.6rem; ">
            </i>
        </span>
        <input type="text"  v-model="notes[state.currentNote.category][state.currentNote.index].link" class="custom-input-link" id="custom-input-link" style="float:right" placeholder="https://">
    </div>
</div>



<script>
var app = new Vue({
    el: '#app',
    data: {
        modal: "",
        notes:{
            misc: [
                {
                    title: "These Are Example Notes",
                    content: "You can edit these notes, delete, them or create new notes."
                },
                {
                    title: "To Foreign Lands",
                    content: `I heard that you ask’d for something to prove this puzzle the New World,
And to define America, her athletic Democracy,
Therefore I send you my poems that you behold in them what you wanted.
                    `,
                },
                {
                    title: "Song To Myself",
                    content: `I CELEBRATE myself, and sing myself,

And what I assume you shall assume,
For every atom belonging to me as good belongs to you.

I loafe and invite my soul,
I lean and loafe at my ease observing a spear of summer grass.

My tongue, every atom of my blood, form'd from this soil, this 
air,
Born here of parents born here from parents the same, and their 
parents the same,
I, now thirty-seven years old in perfect health begin,
Hoping to cease not till death.

Creeds and schools in abeyance,
Retiring back a while sufficed at what they are, but never forgotten,
I harbor for good or bad, I permit to speak at every hazard,
Nature without check with original energy.
                    `,
                },
                {
                    xtitle: "note 3",
                    content: `When I heard the learn’d astronomer,
When the proofs, the figures, were ranged in columns before me,
When I was shown the charts and diagrams, to add, divide, and measure them,
When I sitting heard the astronomer where he lectured with much
applause in the lecture-room, [...]
                    `,
                },
            ],
            todo: [
                {
                    title: "Defeat Bowser",
                    content: "He's ran off with Peach again. It's the third time this week!",
                },
                {
                    title: "Groceries",
                    content: `-Bananas
                    -Kool-Aid
                    -Bread`,
                },
                {
                    title: "Add Persistent Data!",
                    content: "Saving to local storage and an actual database needs to be implemented.",
                },
                {
                    title: "Change Category Names",
                    content: "It would be useful if the category names could easily be changed.",
                },
                {
                    title: "Click Category Names To Create New Note",
                    content: "It would be useful if the category names could be clicked to create a new note in that category.",
                },
                {
                    title: "Add option for links.",
                    content: "Notes should have an option to include a URL.",
                },
                {
                    title: "Change note category.",
                    content: "When editing/creating a note it should be possible to change it's category from the edit screen.",
                },
                {
                    title: "Search.",
                    content: "Add a simple search filter feature.",
                },
            ],
            ideas: [
                {
                    title: "Happy Birthday?",
                    content: "Everyone hates being sung happy birthday, and everyone hates singing happy birthday, so what are we doing here.",
                },
                {
                    title: "Cold Babies",
                    content: "11 babies have been born in Antarctica, and none of them died as infants, meaning Antarctica has the lowest infant mortality rate at 0%",
                },
                {
                    title: "Street View",
                    content: 'Somebody at google was just like "yea, just have someone drive down every road on earth".',
                },
                {
                    title: "Lemonade?",
                    content: 'Apparently, a lemon is not naturally occurring and is a hybrid developed by cross breeding a bitter orange and a citron. Life never gave us lemons; we invented them all by ourselves.',
                },
                {
                    title: "Trends",
                    content: 'It kinda makes sense that the target audience for fidget spinners lost interest in them so quickly',
                },
                {
                    title: "Is this safe?",
                    content: 'Coffee makes you hyper, but coffee shops are designed for people to chill, whereas alcohol is a depressant but bars and clubs are designed for people to be energetic.',
                },
                {
                    title: "Math",
                    content: "Since there are 3600 seconds in an hour, and most people make less than $36.00/hr, their time is worth less than a penny per second. It's literally worth your time to pick up a penny from the ground.",
                },
            ],
        }, 
        drag: false, 
        state:{
            currentNote:{
                category: "misc",
                index:-1,
            }
        } 
    },
    methods:{
        deleteNote: function(category, index, auto){
            if(auto==true){
                this.notes[category].splice(index,1);
                return;
            }
            if (confirm('Are you sure you want to delete this note?')) {
                this.notes[category].splice(index,1);
            } else {
                // Do nothing!
            }   
        },
        newNote: async function(){
            console.log("newnote");
            //
            await this.notes.misc.unshift(
                {
                    title: "New Note",
                    content: "New Content",
                    link:null,
                }
            );
            this.state.currentNote.index = 0;
            this.state.currentNote.category = "misc";
            this.modal = "newNote";
        },
        editNote: function(category,index){
            console.log("editnote");
            this.state.currentNote.index = index;
            this.modal = "newNote";
            this.state.currentNote.category = category;
        },
        closeModal: function(){
            this.modal = "";
        },
        activateLink: function(){
            if(this.notes[this.state.currentNote.category][this.state.currentNote.index].link==null || this.notes[this.state.currentNote.category][this.state.currentNote.index].link=="")
            {
                this.notes[this.state.currentNote.category][this.state.currentNote.index].link = "https://";
                document.getElementById("custom-input-link").focus();
            }
            else
            {
                this.notes[this.state.currentNote.category][this.state.currentNote.index].link = "";
            }
        },
        switchNoteGroup: function(category){
            console.log("switch note group to "+category);
            //cache note
            var noteCache = this.notes[this.state.currentNote.category][this.state.currentNote.index];
            //delete note
            this.deleteNote(this.state.currentNote.category, this.state.currentNote.index, true);
            //add to new category
            this.notes[category].unshift(noteCache);
            //assign new note as current note
            this.state.currentNote.category = category;
            this.state.currentNote.index = 0;
        },
        test: function(){
            alert();   
        }
    }
  
})
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Farro&display=swap');
    :root{
        --highlight-color: rgb(236, 94, 0);
        --highlight-color-darker: rgb(204, 82, 0);
        --highlight-color-darker-yet: rgb(173, 70, 1);
        --background-color: rgb(221, 221, 221);
        --dark-color:rgb(212, 212, 212);
        --mid-color:rgb(173, 173, 173);
        --brand-color:#5f5fa0;
        --text-color:rgb(70, 70, 70);
    }
    body{
        background:var(--background-color);
        color:var(--text-color);
        font-family: 'Farro', sans-serif;
    }
    a{
        color:var(--text-color);
    }
    .btn-group, .btn-group .btn:focus, .btn-group button:focus, .btn-group .btn:active, .btn-group button:active{
        outline:none!important;
        border:none!important;
        box-shadow: none!important;
    }
    .btn:focus, .btn:active {
        outline:none!important;
        border:none!important;
        box-shadow: none!important;
        
    }
    .btn-primary{
        background-color: var(--highlight-color-darker);
        border-color:transparent!important;
    }
    .btn-primary:hover{
        background-color: var(--highlight-color)!important;
    }
    .btn-primary:active{
        background-color: var(--highlight-color-darker-yet)!important;
    }
    .mini-logo{
        max-height:1.5rem;
        vertical-align: text-top;
        border-radius: 100%;
    }
    .bg-light{
        background-color:var(--brand-color)!important;
    }
    .navbar, .navbar-brand, .navbar-text{
        color:white!important;
        transition: all 0.2s;
    }
    .navbar .hover-icon:hover{
        color:var(--mid-color)!important;
    }
    .top-bar{
        min-height:5rem;
        background:rgb(192, 192, 192);
    }
    .note{
        background: rgb(224, 224, 224);
        margin:1rem;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border:1px solid var(--mid-color);
    }
    .ghost{
        
        border:1px solid var(--highlight-color);
        max-height:125px;
        overflow: hidden;
    }
    .ghost .content{
        
    }
    .ghost .note-title{
        xbackground:red;
        background:var(--highlight-color-darker);
        color:white;
    }
    .note-title{
        background:var(--dark-color);
        padding:0.5rem;
        min-height:1rem;
        vertical-align: middle;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .content{
        padding:0.75rem;
        white-space: pre-line;
    }
    .cat-title{
        text-align: right;
        background:var(--dark-color);
        padding:0.4rem;
        padding-left:1rem;
        padding-right:1rem;
    }
    .mega-wrap{
        margin:0 auto;
        max-width:1450px;
        text-align:center;
    }
    .wrap{
        text-align:left;
        max-width:32%;
        min-width:32%;
        margin:0 auto;
        display:inline-block;
        vertical-align: text-top;
        border:1px solid var(--mid-color);
        background:white;
        
    }
    @media only screen and (max-width: 600px) {
        .wrap{
            max-width:100%;
            min-width:100%;
            display: block;
        }
    }
    .drag-area{
        xborder:1px solid rgb(231, 0, 0);
        height:calc(100vh - 6.15rem);
        overflow-y:scroll;
    }
    .misc-wrap{
        
    }
    .todo-wrap{
        
    }
    .hover-icon{
        cursor: pointer;
        transition: all 0.2s;
    }
    .hover-icon:hover{
        color:var(--highlight-color);
    }

    .custom-modal-shade{
        position:fixed;
        top:0;
        right:0;
        left:0;
        bottom:0;
        background:rgba(0, 0, 0, 0.521);
    }
    .custom-modal{
        position:absolute;
        top:3rem;
        left:0;
        right:0;
        max-width:650px;
        min-height:25em;
        overflow:scroll;
        xbottom:25%;
        background:rgb(228, 228, 228);
        padding:1rem;
        box-shadow: 0.5rem 0.5rem 0.5rem var(--mid-color);
        margin-left:auto;
        margin-right:auto;
    }

    input, textarea{
        background:rgb(207, 207, 207);
        background-color:rgb(207, 207, 207);
        color:rgb(71, 71, 71);
        border-color:rgba(0, 0, 0, 0);
    }
    input:focus, textarea:focus{
        outline:none;
    }
    .custom-input-title{
        width:85%;
        font-size:2rem;
        padding:0.5rem;
    }
    .custom-input-content{
        width:100%;
        padding:0.5rem;
    }
    .custom-input-link{
        width:90%;
        padding:0.5rem;
        font-size:1.5rem;
    }
    textarea{
        height:25rem;
        overflow-y:scroll;
    }
    /* width */
    ::-webkit-scrollbar {
    width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
</style>

