<meta name="viewport" content="width=device-width, initial-scale=1">

<!--VueJS-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
<!--Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--Font Awesome-->
<script src="https://kit.fontawesome.com/86459ed88a.js"></script>
<!--Custom CSS-->
<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<div id="app" v-cloak>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><!-- <img src="zebra-logo-cropped.png" class="mini-logo"> --> Xebra Notes</span>
        
        <span class="btn btn-primary new-note-btn" @click="newNote()">
            New Note &nbsp;<i class="fas fa-plus-circle"></i>
        </span>

        <span class="navbar-text">
            <div class="search-wrap">
                <input type="text" v-model="state.searchQuery" @input="searchNotes()" placeholder="search query" class="custom-input-search">
                <i v-if="state.searchQuery == '' || state.searchQuery == null " class="fas fa-search" style="color:var(--text-color)"></i>
                <span v-if="state.searchQuery.length > 0" class="hover-icon" @click="clearSearch()">
                        <i class="fas fa-times" style="color:var(--text-color)"></i>
                </span>
                &nbsp;
            </div>
        </span>
    </nav>

    <div class="mega-wrap">
        <div class="wrap">
            <div class="cat-title">
                <span class="hover-icon" @click="newNote('misc')">
                    Misc &nbsp;<i class="fas fa-plus-circle"></i>
                <span>
                <i class="fas fa-cogs" style="float:left"></i>
            </div>
            <draggable v-model="notes.misc" group="people" @start="drag=true" @end="drag=false" class="drag-area" ghost-class="ghost">
                <div v-for="element,index in notes.misc" :key="element.id" class="note" v-if="searchNote(element)">
                    <div class="note-title">
                        <span v-if="element.title">{{ element.title.length < 32 ? element.title : element.title.substring(0,32) + "..."}}</span>
                        <span v-else="element.title">...</span>
                        <span style="float:right" class="hover-icon" @click="deleteNote('misc',index)"><i class="far fa-trash-alt"></i></span>
                        <span style="float:right; width:1rem; height:1em;"> </span>
                        <span style="float:right" class="hover-icon" @click="editNote('misc',index)"><i class="fas fa-edit"></i></span>
                        <span v-if="element.link!=null && element.link!=''">
                            <span style="float:right; width:1rem; height:1em;"> </span>
                            <a :href="element.link" target="blank" style="float:right;" class="hover-icon"><i class="fas fa-link"></i></a>
                        </span>
                    </div>
                    <div class="content">{{element.content}}</div>
                </div>
            </draggable>
        </div>

    
        <div class="wrap">
            <div class="cat-title">
                <span class="hover-icon" @click="newNote('todo')">
                    Todo &nbsp;<i class="fas fa-plus-circle"></i>
                <span>
                <i class="fas fa-clipboard-check" style="float:left"></i>
            </div>
            <draggable v-model="notes.todo" group="people" @start="drag=true" @end="drag=false" class="drag-area" ghost-class="ghost">
                <div v-for="element,index in notes.todo" :key="element.id" class="note" v-if="searchNote(element)">
                    <div class="note-title">
                        <span v-if="element.title">{{ element.title.length < 36 ? element.title : element.title.substring(0,36) + "..."}}</span>
                        <span v-else="element.title">...</span>
                        <span style="float:right" class="hover-icon" @click="deleteNote('todo',index)"><i class="far fa-trash-alt"></i></span>
                        <span style="float:right; width:1rem; height:1em;"> </span>
                        <span style="float:right" class="hover-icon" @click="editNote('todo',index)"><i class="fas fa-edit"></i></i></span>
                        <span v-if="element.link!=null && element.link!=''">
                            <span style="float:right; width:1rem; height:1em;"> </span>
                            <a :href="element.link" target="blank" style="float:right;" class="hover-icon"><i class="fas fa-link"></i></a>
                        </span>
                    </div>
                    <div class="content">{{element.content}}</div>
                </div>
            </draggable>
        </div>

        <div class="wrap">
            <div class="cat-title">
                <span class="hover-icon" @click="newNote('ideas')">
                    Ideas &nbsp;<i class="fas fa-plus-circle"></i>
                <span>
                <i class="fas fa-lightbulb" style="float:left"></i>
            </div>
            <draggable v-model="notes.ideas" group="people" @start="drag=true" @end="drag=false" class="drag-area" ghost-class="ghost">
                <div v-for="element,index in notes.ideas" :key="element.id" class="note" v-if="searchNote(element)">
                    <div class="note-title">
                        <span v-if="element.title">{{ element.title.length < 36 ? element.title : element.title.substring(0,36) + "..."}}</span>
                        <span v-else="element.title">...</span>
                        <span style="float:right" class="hover-icon" @click="deleteNote('ideas',index)"><i class="far fa-trash-alt"></i></span>
                        <span style="float:right; width:1rem; height:1em;"> </span>
                        <span style="float:right" class="hover-icon" @click="editNote('ideas',index)"><i class="fas fa-edit"></i></i></span>
                        <span v-if="element.link!=null && element.link!=''">
                            <span style="float:right; width:1rem; height:1em;"> </span>
                            <a :href="element.link" target="blank" style="float:right;" class="hover-icon"><i class="fas fa-link"></i></a>
                        </span>
                    </div>
                    <div class="content">{{element.content}}</div>
                </div>
            </draggable>
        </div>

    </div>

    <div class="custom-modal-shade" v-if="modal=='newNote'" @click=""></div>
    <div class="custom-modal" v-if="modal=='newNote'">
        <div class="modal-title">
            <input type="text" v-model="notes[state.currentNote.category][state.currentNote.index].title" class="custom-input-title">
            <span style="float:right; font-size:4rem;" class="hover-icon"><i class="fas fa-check-circle" @click="closeModal"></i></span>
        </div>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button v-if="state.currentNote.category == 'misc'" type="button" class="btn btn-primary" @click="switchNoteGroup('misc')">Misc</button>
            <button v-if="state.currentNote.category != 'misc'" type="button" class="btn btn-secondary" @click="switchNoteGroup('misc')">Misc</button>

            <button v-if="state.currentNote.category == 'todo'" type="button" class="btn btn-primary" @click="switchNoteGroup('todo')">Todo</button>
            <button v-if="state.currentNote.category != 'todo'" type="button" class="btn btn-secondary" @click="switchNoteGroup('todo')">Todo</button>

            <button v-if="state.currentNote.category == 'ideas'" type="button" class="btn btn-primary" @click="switchNoteGroup('ideas')">Ideas</button>
            <button v-if="state.currentNote.category != 'ideas'" type="button" class="btn btn-secondary" @click="switchNoteGroup('ideas')">Ideas</button>
        </div>
        <br><br>
        <textarea v-model="notes[state.currentNote.category][state.currentNote.index].content" class="custom-input-content"></textarea>
        <br><br>
        <span class="hover-icon" v-if="notes[state.currentNote.category][state.currentNote.index].link != null && notes[state.currentNote.category][state.currentNote.index].link != ''" @click="activateLink">
            <i class="fas fa-link" style="font-size:2rem; padding-top:0.6rem;  color:var(--highlight-color)">
            </i>
        </span>
        <span class="hover-icon" v-else @click="activateLink">
            <i class="fas fa-link" style="font-size:2rem; padding-top:0.6rem; ">
            </i>
        </span>
        <input type="text"  v-model="notes[state.currentNote.category][state.currentNote.index].link" class="custom-input-link" id="custom-input-link" style="float:right" placeholder="https://">
    </div>
</div>

<!--Custom JS-->
<script src="assets/js/index.js"></script>